@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}

    /* headings and logo */

    h1, h2 {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        color: #000000
        
    }

    #logo {
        float: left;
        font-size: 225%;
    }

    #menu {
       font-size: 100%; 
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 20px;
    }

